<div class="container-fluid p-0">
  <!-- About-->
  <section class="resume-section" id="about">
    <div class="resume-section-content">
      <h1 class="mb-0">
        Carl Ivan
        <span class="text-primary">Dayrit</span>
      </h1>
      <div class="subheading mb-5">
        288 Clement Street · Porac Pampanga · 09973312221·
        <a href="mailto:name@email.com">cpdayrit@student.hau.edu.ph</a>
      </div>
      <p class="lead mb-5">
        To exhibit my innovative creativity skills for the success of my firm
        and myself, and to become confident and well-known by utilizing my
        ability in the field of "Web Development."
      </p>
      <div class="social-icons">
        <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
        <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
      </div>
    </div>
  </section>
</div>
