<div class="resume-section-content">
  <h2 class="mb-5">Awards & Certifications</h2>
  <ul class="fa-ul mb-0">
    <li>
      <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
      <! -- Style Binding -->
      <p [style.color]="mySecondColor">1st Year First Sem - Dean's Lister</p>
    </li>
    <li>
      <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
      <! -- Style Binding -->
      <p [style.color]="myFirstColor">Year Second Sem - Dean's Lister</p>
    </li>
    <li>
      <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
      <! -- Style Binding -->
      <p [style.color]="mySecondColor">2nd Year First Sem - Dean's Lister</p>
    </li>
  </ul>
</div>
